.icon-margin {
    margin-right: 0.5em;
}

.social-buttons .btn-social {
    width: 15em;
    display: block;
    margin: 0.5em auto;
    text-align: left;
    color: white;
}

.btn-fb {
    background: blue;
}

.btn-gp {
    background: tomato;
}
.btn.btn-small-padding{
    padding: 0.1em 1em;
}

.form-login,
.form-poll {
    max-width: 25em;
    margin: auto;
}
.creator-head{
    margin-left: 1em;
}
.chart-canvas{
    width:100%;
}